@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DictionaryLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-0">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li style="margin-top:5px"><i style="font-size:25px;" class="fas fa-accessible-icon"></i></li>
                    <li style="margin-left:10px"><h1 class="m-0"> Writer Profile</h1></li>
                </ol>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">WebDictionary v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="row scrollbar" id="style-7" style="background-color: #181A1F; color: #9FA0A2; height: 80vh; border-radius: 40px; overflow-y: auto; overflow-x: hidden;">
    <section class="col-md-6">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card" style="margin-top: 0; margin-left: 0; top: -15px;">
            <div class="card-body" style="height: 100%; max-width: 100%; max-height: 100%; padding-top: 0px; padding-left: 0px; ">
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_UHhZXv9VWn.json"
                               background="transparent" speed="1" style="max-width: 100vh; max-height: 100vh;" loop autoplay></lottie-player>
            </div>
        </div>
    </section>
    <section class="col-md-6">
        <div class="card">
            <div class="card-body" style="height: 100%; max-width: 100%; max-height: 100%; text-align:center;">
                <div style="" class="customtext">Tell me nice things</div>
                <p>
                    * Your messages will not be forwarded to the authors.
                    * Complaints regarding records written about individuals can only be made by the natural person himself or, if he is a legal person, by his official or legal representative. Complaints made by third parties will not be considered.
                    * How can we help you in this space 🪐
                </p>
            </div>
        </div>
    </section>
</div>